body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $offwhite;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  max-width: 50%;
}

.primary-content {
  background: $white;
  border-radius: $base-border-radius;
  padding: $base-spacing;
}
